
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X_UA_Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Book stocks for librarians</title>
		
		<meta name="author" content="Fangh13">
		
		<link href="{{host}}/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid" style=margin-top:20px>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-left">
					Library Loans System
				</h3>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link active" href="#">Stocks</a>
					</li>
					<li class="nav-item">
						<a class="nav-link inactive" href="#">User Manage</a>
					</li>
				</ul>
				<button type="button" class="btn btn-success" style=margin-top:10px>
					Add
				</button>
				<table class="table">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Name
							</th>
							<th>
								Author
							</th>
							<th>
								Stocks
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							  0
							</td>
							<td>
								Book0
							</td>
							<td>
								Author0
							</td>
							<td>
								0
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
		<script src="../coverage/lcov-report/bootstrap.min.js"></script>
		<script src="../coverage/lcov-report/jquery.min.js"></script>
	</body>
</html>