
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="Home Page">
		<meta name="author" content="Fangh13">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Librarian Loans System</h1>
			{{#if msg}}
		<script>
			alert(`{{msg}}`)
			</script>
		{{/if}}
		</header>
		<div class="homepage-container">
			<section class="librarian box">
				<a href="/librarianlogin">
				<img class="computer" src="{{host}}/avatars/computer.png" alt="">
				</a>
				<div>
					<br/>I am librarian
				</div>
				</section>
			<section class="student box">
				<a href="/login">
					<img class="books1" src="{{host}}/avatars/books1.png" alt=""></a>
			<div>			<br/>I am student
				</div>
			
			</section>
<!-- 			<section class="login type-center">
				<a href="/login"><button type="button" class="btn btn-success" style=margin-top:10px>
					Student
				</button></a>
				<a href="/librarianlogin"><button type="button" class="btn btn-success" style=margin-top:10px>
					Librarian
				</button></a>
			</section> -->
		</div>
	</body>
</html>
