
html,body {
/* 		font-family: Arial, Helvetica, sans-serif; */
		margin: 0;
	background-color:#ededef;
	width:100%;
	height:100%
	}

/* formats the red message boxes */
.msg {
	border: 1px solid red;
	font-weight: bold;
	color: red;
	padding: 1em;
	margin: 2em;
}

header {
	background-color: #ccc; 
 	border-bottom: 5px solid grey; 
	height: 8vw;
}


h1, h2, h3 {
	margin: 0;
	padding: 0
	color: #555;
}

h1 {
	padding: 2.6vw;
	float: left;
	font-size: 3vw;
	margin-left: 0.5vw;
}

h2 {
	font-size: 2.5vw;
	margin: 1vw;
	margin-left: 0.6vw;
}

h3 {
	font-size: 2vw;
	margin: 1vw;
	margin-left: 0.6vw;
}

header > a {
	margin-top: 3vw;
	margin-right: 3vw;
	float: right;
	font-size: 1.3vw;
	
}

header > img {
	width: 7vw;
	border-radius: 50%;
	position: absolute;
	left: 0.5vw;
	top: 0.5vw;
}

p, legend {
	font-size: 1.5vw;
}

main {
	width: 100%;
/* 	margin-left: 3vw; */
	/* background-color: pink; */
	
}

main form{
	margin-top:7%;
	margin-left:35%;
	margin-right:35%;
	padding:2%;
	background-color:#ccc;
}

main form p{
	margin-top:10px;
}

article {
	width: 50vw;
	/* background-color: grey;
	float: left; */
}

aside {
	/* background-color: yellow;
	float: right; */
	width: 50vw;
}

main a {
	color: black;
	text-decoration: none;
}

main a:hover {
	color: red;
	text-decoration: none;
}

section {
	width: 24vw;
	margin-top: 1vw;
	padding: 1vw;
	border-radius: 1vw;
}

section > a{
		text-decoration: none;
}

section > p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.5vw;
}

section > h3 {
	margin: 0;
	padding: 0;
	font-size: 1.8vw;
}

small {
	display: block;
	text-align: right;
}

/* ===== FORMS ===== */

fieldset {
	position: relative;
	width: 25vw;
	border: 1px solid #CCC;
	padding-top: 4vw;
}

legend {
	position:absolute;
  top:0;
	left:0;
	width: 25.5vw;
	background-color: #ccc;
	border-bottom: 5px solid grey;
	padding: 0.6vw;
}

input[type="file"] {
	display: none;
}

input[type="submit"], .custom-file-upload {
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
  color: white;
	padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 1rem;
	border-radius: .25rem; 
/* 	float:right;
	margin-right:10px; */
}

input[type="button"] {
	background-color: #0275d8;
	border: 2px solid #0275d8;
	color: white;
	padding:0.5rem 1rem;
	text-align:center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	border-radius: .25rem;
/* 	float:right; */
}

header > a {
	background-color:#6a9dd8;
	border: 2px solid #6a9dd8;
	color: white;
	padding: 0.5prm 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	border-radius: .25rem;
}

input[type="submit"]:hover, header > a:hover, .custom-file-upload:hover {
  color: grey;
  background-color: white;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
	font-size: 1.5vw;
	width: 25vw;
	border: 1px solid #CCC;
	padding: 0.5vw;
	/* margin-bottom: 1vw; */
	/* border-radius: 0.6vw; */
}

textarea {
	height: 10vw;
	resize: none;
}

select {
	width: 26.3vw;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

form > br {
	line-height: 3vw;
}

dl {
  width: 35vw;
  overflow: hidden;
  /* background: #ff0; */
  padding: 0;
	margin: 0;
	font-size: 1.5vw;
}
dt {
  float: left;
  width: 10.5vw;
  /* adjust the width; make sure the total of both is 100% */
  /* background: #cc0; */
  padding: 0.5vw;
  margin: 0
}
dd {
  float: left;
  width: 21vw;
  /* adjust the width; make sure the total of both is 100% */
	/* background: #dd0; */
	padding: 0.5vw;
  margin: 0
}

/* ===== TABLES ===== */

table {
	/* border: 1px solid grey; */
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background: #DDD;
}

td {
	/* border: 1px solid grey; */
	padding: 0.5vw;
	font-size: 1.5vw;
	width: 25vw;
}

td:last-child {
	width: 10vw;
	text-align: left;
}

/*===================
 *  Home Page Style
  ===================*/
.homepage-container{
	width:800px;
 	height:500px;
	margin-top:100px;
 	margin-left:30%;
}

.homepage-container section{
	float:left;
	width:2vw;
}

.homepage-container .img-display{
	width:340px;
 	font-size: 0;
 	left:40px;
}

.homepage-container .img-display img{
	width:120px;
	margin-right:50px;
	margin-bottom:20px;
}

.homepage-container .login{
	right:40px;
 	font-size:2rem;
 	color:#fff;
	margin-top:inherit;
}

.homepage-container .login button{
	width:250px;
 	height:50px;
 	line-height: 50px;
 	text-align: center;
 	letter-spacing: .3rem;
 	font-size: 2.5rem;
 	display: block;
 	margin:20px auto;
 	border:none;
 	color:#fff;
	text-decoration:none;
 	background:rgba(114,198,130,1);
 	-webkit-border-radius: 20px;
 	-moz-border-radius: 20px;
 	-o-border-radius: 20px;
 	border-radius: 20px;
 	-webkit-transition:background .8s;
 	-moz-transition:background .8s;
 	-o-transition:background .8s;
 	transition:background .8s;
}

.container-fluid{
	background-color:
}